.ftr {
    background-image: url('https://images.pexels.com/photos/1194713/pexels-photo-1194713.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}

#Popover1 {
    background-color: #f4f7f5;
}
#Popover2 {
    background-color: #f4f7f5;
}